*~
scratch
gambit-source
attic
bin
lib
/build
*.o
*.o?
*.so

src/TAGS
.build*
doc/node_modules
doc/.vuepress/dist
src/gerbil/boot/runtime/gx-version.scm
src/gerbil/runtime/version.ss
src/gerbil/boot-gxi

build-deps
build-env.sh
