*~
scratch
gambit-source
attic
bin
lib
*.o
*.o?
*.so

src/TAGS
.build*
doc/node_modules
doc/.vuepress/dist
src/gerbil/runtime/gx-version.scm
src/gerbil/gxi

src/tutorial/lang/build-deps
src/tutorial/proxy/build-deps
src/tutorial/proxy/socks-proxy
src/tutorial/proxy/tcp-proxy
test/
