*~
scratch
gambit-source
attic
bin
lib
/build
*.o
*.o?
*.so

src/TAGS
.build*
doc/node_modules
doc/.vuepress/dist
# src/gerbil/runtime/version.ss
src/gerbil/boot-gxi
src/bootstrap/static

build-deps
build-env.sh

.gerbil
