language: c
cache:
  directories:
    - /home/travis/gambit
install:
  - sudo apt-get -y install openssl libssl-dev sqlite3 libsqlite3-dev
  - bash .travis/install-gambit.sh
script:
  - echo "(define (gerbil-version-string) \"git-$(git rev-parse --short=8 HEAD)\")" > src/gerbil/runtime/gx-version.scm
  - export GERBIL_HOME=${TRAVIS_BUILD_DIR}
  - cd src
  - ./build.sh gxi
  - ./build.sh stage0
  - ./build.sh stage1 final
  - ./build.sh stdlib
  - ./build.sh lang
  - ./build.sh tools
  - export PATH=${TRAVIS_BUILD_DIR}/bin:$PATH
  - ./std/run-tests.ss
