#!/usr/bin/make -f
# Verbosity
#export DH_VERBOSE = 1

# Build Flags
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@

# Enable all the optional libs
override_dh_auto_configure:
	dh_auto_configure -- \
		--enable-libyaml \
		--enable-libxml \
		--enable-zlib \
		--enable-sqlite \
		--enable-mysql \
		--enable-lmdb \
		--enable-leveldb
