name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        docker-image: ['gerbil', 'gerbilxx']
    steps:
    - uses: actions/checkout@v3
    - name: List of all Github Actions env vars
      run: env
    - name: Build the Docker image
      run: make -C docker ${{ matrix.docker-image }} REPO=${{github.GITHUB_REPOSITORY}} BRANCH=${{github.GITHUB_HEAD_REF}}
    - name: Push to Docker Hub on Pushes to master
      run: |
        docker login -u gerbil -p ${{ secrets.DOCKER_TOKEN }}
        docker push gerbil/${{ matrix.docker-image }}:$(uname -m)
      if: github.event_name != 'pull_request'
