name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        docker-image: ['gerbil', 'gerbilxx']
    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: make -C docker ${{ matrix.docker-image }} GERBIL_VERSION=${{GITHUB_REF##*/}}
    - name: docker push to dockerhub on pushes to master
      if: ${{ github.ref }} == 'refs/heads/master'
      run: |
        docker login -u gerbil -p ${{ secrets.DOCKER_TOKEN }}
        docker push gerbil/${{ matrix.docker-image }}:$(uname -m)
