name: macos-quick-test
on: [push]
jobs:
  build:
    runs-on: macos-14
    strategy:
      fail-fast: false  # if one fails, do not cancel the other
      matrix:
        # gambit-version: ['', '--with-gambit=master']
        # shared-mode: ['', '--enable-shared']
        gcc-version: ['13']
    steps:
     - name: Checkout
       uses: actions/checkout@v4
       with:
        path: gerbil-source
     - name: Get Build 
       uses: actions/download-artifact@v4
       with:
         path: gerbil-built
         run-id: 14480802562
     # - name: Configure and make Gerbil
     #   shell: bash
     #   run: |
     #      export CC=gcc-${{ matrix.gcc-version }}
     #      export GERBIL_GCC=gcc-${{ matrix.gcc-version }}
     #      export CXX=g++-${{ matrix.gcc-version }}
     #      export LDFLAGS='-Wl,-ld_classic'
     #      export GERBIL_BUILD_CORES=$(sysctl -n hw.physicalcpu)
     #      cd gerbil
     #      ./configure --prefix=/opt/gerbil ${{ matrix.gambit-version }} ${{ matrix.shared-mode }}
     #     make -j$GERBIL_BUILD_CORES 
     #  - name: Tar Build files
     #    run: tar -cvf gerbil-build.tar gerbil/
     #  - name: Archive Built Source
     #    uses: actions/upload-artifact@v4
     #    with:
     #      name: macos-built-source-archive
     #      path: ./gerbil-build.tar
     - name: Display structure of downloaded files
       run: ls -lR .
  # run:
  #   needs: build
  #   runs-on: macos-14
  #   steps:
  #    - uses: actions/download-artifact@v4
  #      # with:
  #       #name: my-artifact
  #       #path: your/destination/dir
  #    - name: Display structure of downloaded files
  #      run: ls -R your/destination/dir
    
