name: macos-quick-test
on: [push]
jobs:
  build:
    runs-on: macos-14
    strategy:
      fail-fast: false  # if one fails, do not cancel the other
      matrix:
        # gambit-version: ['', '--with-gambit=master']
        # shared-mode: ['', '--enable-shared']
        gcc-version: ['13']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
        path: src
    # https://github.com/dawidd6/action-download-artifact
     - name: Get Build
       uses: dawidd6/action-download-artifact@v9
       # uses: actions/download-artifact@v4
       with:
         run_id: 14487201513
     # - name: Move to build
     #   run: mv macos-built-source-archive gerbil-built

     # - name: rsync new source to build
     #   run: rsync -av gerbil-source/ gerbil-built/

     # - name: Run tests
     #   run: |
     #     cd gerbil-built
     #     ./build.sh env ../build/bin/gxtest -q src/gerbil/test/... src/std/... src/lang/... src/tools/...
     - name: Untar
       run: |
         cd build-macOS-gcc-13
         tar xvf gerbil.tar
     - name: Display structure of downloaded files
       run: ls -a
     - name: Pull Lastest Changes
       run: |
        git pull ../src 
         
  # run:
  #   needs: build
  #   runs-on: macos-14
  #   steps:
  #    - uses: actions/download-artifact@v4
  #      # with:
  #       #name: my-artifact
  #       #path: your/destination/dir
  #    - name: Display structure of downloaded files
  #      run: ls -R your/destination/dir
    
