name: macos-quick-test
on: [push]
jobs:
  build:
    runs-on: macos-14
    strategy:
      fail-fast: false  # if one fails, do not cancel the other
      matrix:
        # gambit-version: ['', '--with-gambit=master']
        # shared-mode: ['', '--enable-shared']
        gcc-version: ['13']
    steps:
     - name: Checkout
       uses: actions/checkout@v4
       with:
         path: 'src'
         fetch-depth: 0
    # https://github.com/dawidd6/action-download-artifact
     - name: Get Build
       uses: dawidd6/action-download-artifact@v9
       # uses: actions/download-artifact@v4
       with:
         run_id: 14487201513
     - name: Untar & rm .tar
       run: |
         cd build-${{ runner.os }}-gcc-${{ matrix.gcc-version }}
         tar xvf gerbil.tar
         rm gerbil.tar
     - name: git pull new source to build
       run: |
         cd build-${{ runner.os }}-gcc-${{ matrix.gcc-version }}
         git pull ../src "$GITHUB_REF"
     - name: build the needed fixes
       run: |
         cd build-${{ runner.os }}-gcc-${{ matrix.gcc-version }}
         make stdlib tools
     - name: Run tests
       run: |
         cd build-${{ runner.os }}-gcc-${{ matrix.gcc-version }}
         make gxtest='tools/gxensemble-test.ss tools/gxhttpd-ensemble-test.ss' check || echo "NOPE?"
     - name: Upload ensemble test paths
       uses: actions/upload-artifact@v4
       with:
         name: 'ensemble-test-dirs'
         include-hidden-files: true
         path: |
           build-${{ runner.os }}-gcc-${{ matrix.gcc-version }}/src/tools/gxensemble-test
           ${{ env.TMPDIR }}/ensemble
    
# actor loader: FAILED
# remote library loading and evaluation: Check FAILED (check equal? (remote-load-library-module test-server-id ':test/actor-v18/loader-test-support) (string-append gerbil-path /lib/test/actor-v18/loader-test-support.o1)) at "std/actor-v18/loader-test.ss"@103.14-103.94
# loader administrative privileges: OK
# actor messages: OK

#simple ensemble commands: FAILED
# repl: Check FAILED (check equal? (read repl) 'registry>) at "tools/gxensemble-test.ss"@145.16-145.27

# httpd ensemble: FAILED
# /does-not-exist: ERROR 
# *** ERROR IN "io/socket/socket.ss"@35.33-35.40 [OSError]: Connection refused
# --- irritants: connect (#u8(127 0 0 1) . 8080) #f 
# --- continuation backtrace:
# [3] #<procedure #990>                                                                  "tools/gxhttpd-ensemble-test.ss"@89:12-89:61 
 
